{% extends  "base.html.twig" %}

{% block page_title %}Admin droits{% endblock %}



{% block main %}
    {{ parent() }}

    <div class="page-header">
        <h2 class="title">Droits</h2>
    </div>

    <div>
    <table class="table">
        <tr>
            <th></th>
            {% for group in groupes %}
            <th>{{group.name}}</th>
            {% endfor %}
        </tr>
        {% for cred in credentials %}
        <tr>
            <th>{{cred}}</th>
            
            {% for group in groupes %}
            <td>
            <input type="checkbox">
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    </div>

{% endblock %}
