{% extends 'base.html.twig' %}

{% block page_title %}{{ 'title.admin_rights' | trans({}, 'CredentialBundle') }}{% endblock %}

{% block content %}
    <div id="matrice" class="mb-4">
        {% if is_granted('ROLE_CREDENTIAL_ACTION_TOGGLEGROUP') %}
            {% include 'crudit/brick/matrice/_rubrique_check_group.html.twig' %}
        {% endif %}

        {% for rubrique, credentials in credentialsByRubriques %}
            {% include 'crudit/brick/matrice/_rubrique.html.twig' %}
        {% endfor %}
    </div>
{% endblock %}
