services:
    _defaults:
        autowire: true
        public: false
        autoconfigure: true

    Lle\CredentialBundle\Security\:
        resource: '../../Security'

    Lle\CredentialBundle\Repository\:
        resource: '../../Repository/*'

    Lle\CredentialBundle\Controller\:
        resource: '../../Controller'
        tags: ['controller.service_arguments']

    Lle\CredentialBundle\Command\:
        resource: '../../Command'
        tags: ['console.command']

    Lle\CredentialBundle\Service\:
        resource: '../../Service'

    Lle\CredentialBundle\Factory\:
        resource: '../../Factory'
