services:
    _defaults:
        autowire: true
        public: false
        autoconfigure: true

    Lle\CredentialBundle\Security\:
        resource: '../../Security'

    Lle\CredentialBundle\Repository\:
        resource: '../../Repository/*'

    Lle\CredentialBundle\Controller\:
        resource: '../../Controller'
        tags: ['controller.service_arguments']

    Lle\CredentialBundle\Command\WarmupCredentialCommand:
        tags:
            - { name: 'console.command' }

    Lle\CredentialBundle\Command\LoadCredentialCommand:
        tags:
            - { name: 'console.command' }

    Lle\CredentialBundle\Command\InitProjectCommand:
        tags:
            - { name: 'console.command' }

    Lle\CredentialBundle\Service\:
        resource: '../../Service'

    Lle\CredentialBundle\Factory\:
        resource: '../../Factory'
